<div class="card" style="width:18rem;">
  <img [src]="prd?.imgURL" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{prd?.name}}</h5>
    <p class="card-text">Price:{{prd?.price}} </p>
    <p class="card-text">Quantity:{{prd?.quantity}}</p>
  </div>
  <button (click)="goBack()" class="btn btn-primary">Back</button>
</div>

<div>
    <label for="search">Search Product: </label>
    <input type="text" class="form-control" name="search" id="search" #prdInput>
    <button (click)="searchProduct(prdInput.value)">Search</button>
</div>
